# =========================
# External Ports
# =========================

API_GATEWAY_PORT=8080
PRODUCT_SERVICE_PORT=8082
INVENTORY_SERVICE_PORT=8081
ORDER_SERVICE_PORT=8083
NOTIFICATION_SERVICE_PORT=8084

# =========================
# MySQL
# =========================

MYSQL_ROOT_PASSWORD=changeme_local_dev_only
INVENTORY_DATABASE=inventory_db
ORDER_DATABASE=order_db
MYSQL_PORT=3306
MYSQL_USER=root

# =========================
# MongoDB
# =========================

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=changeme_local_dev_only
PRODUCT_DATABASE=product-db
MONGO_PORT=27017

# =========================
# Kafka
# =========================

KAFKA_PORT=9092
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_CLUSTER_ID=5L6g3nShT-eMCtK--X86sw

# =========================
# Mailpit
# =========================

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
SPRING_MAIL_USERNAME=anonymous
SPRING_MAIL_PASSWORD=mailpit123

# =========================
# API-Gateway Basic Authentication
# =========================

GATEWAY_AUTH_USERNAME=gateway
GATEWAY_AUTH_PASSWORD=changeme_local_dev_only
GATEWAY_JWT_SECRET=your_generated_32_character_string_here