# ======================
# APPLICATION PORTS
# ======================

API_GATEWAY_PORT=8080
PRODUCT_SERVICE_PORT=8082
INVENTORY_SERVICE_PORT=8081
ORDER_SERVICE_PORT=8083
NOTIFICATION_SERVICE_PORT=8084

# ======================
# MYSQL
# ======================

MYSQL_DATABASE=inventory_db
MYSQL_USER=root
MYSQL_PASSWORD=user_pass
MYSQL_ROOT_PASSWORD=root_pass

ORDER_DATABASE=order_db

# ======================
# MONGODB
# ======================

MONGO_DATABASE=product-service
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password

# ======================
# KAFKA
# ======================

KAFKA_PORT=9092

# ======================
# MAILHOG
# ======================

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025